<div class="container-fluid">

	<div class="row align-items-end mx-0">
		<div class="col">
			<h4 class="text-capitalize">TABLE_NAME_SPACES</h4>
		</div>
		<div class="col-auto">
			<!--button type="button" class="mr-2 btn btn-light lift" (click)="show_import=true">Importar</button>
			<button type="button" class="mr-2 btn btn-light lift" (click)="exportFile()">Exportar</button-->
			<button type="button" class="ml-2 btn btn-light lift" [routerLink]="['/add-TABLE_NAME_DASH']"> Agregar TABLE_NAME_SPACES</button>
		</div>
	</div>

	<!-- div>
		<div class="row">
			TEMPLATE_SEARCH_FIELDS
			<div class="col-6 col-md-3">
				<button type="button" class="w-100 btn btn-primary" (click)="search()">Buscar</button>
			</div>
		</div>
	</div -->

	<div  class="card p-3 mt-3">
		<!-- div class="row">
				TEMPLATE_LIST_TABLE_HEADERS
		</div -->
		<app-loading [is_loading]="is_loading"></app-loading>
		<div class="table-responsive">
			<table class="table table-sm table-nowrap mb-0">
				<thead class="thead-light">
					<tr>
TEMPLATE_LIST_HEADERS
					</tr>
				</thead>
				<tbody>
					<tr *ngFor="let TABLE_NAME of TABLE_NAME_list">
TEMPLATE_LIST_VALUES
					</tr>
					<tr *ngIf="TABLE_NAME_list == null || TABLE_NAME_list.length == 0 && !is_loading" colspan="TEMPLATE_HEADERS_SIZE">
						<div class="alert alert-light m-3" role="alert">No se encontraron elementos</div>
					</tr>
				</tbody>
			</table>
		</div>
	</div>
	<app-pagination [path]="'/list-TABLE_NAME_DASH'" [pages]="pages" [totalPages]="totalPages" [currentPage]="currentPage"></app-pagination>
</div>
<!--app-modal [(show)]="show_import">
	<div class="card p-3">
		<h2>Import excel</h2>
		<div class="from-group mb-3">
			<label>Excel data</label>
			<input name="file" type="file" (change)="onFileChanged($event)" accept="*/*" class="form-control">
		</div>
		<div class="row mt-3">
			<div class="col-6">
				<button type="button" class="btn btn-secondary w-100" (click)="show_import=false">Cancel</button>
			</div>
			<div class="col-6">
				<button type="button" class="btn btn-primary w-100" (click)="uploadFile()" [disabled]="file==null">Upload</button>
			</div>
		</div>
	</div>
</app-modal-->
