<div class="container">

	<div class="header-body mb-3">
		<div class="row align-items-end">
			<div class="col">
				<h6 class="header-pretitle"> Overview </h6>
				<h1 class="header-title"> {{ 'TABLE_NAME_SPACES' | titlecase }}</h1>
			</div>
			<div class="col-auto">
				<a  [routerLink]="['/add-TABLE_NAME_DASH']" class="btn btn-primary lift"> Add TABLE_NAME_SPACES</a>
			</div>
		</div>
	</div>

	<!-- div>
		<div class="d-flex flex-row">
			TEMPLATE_SEARCH_FIELDS
			<div class="d-flex align-self-end justify-content-center p-2">
				<button type="button" class="btn btn-primary" (click)="search()">Buscar</button>
			</div>
		</div>
	</div -->

	<div>
		<!-- div class="row">
				TEMPLATE_LIST_TABLE_HEADERS
		</div -->
		<div  *ngFor="let TABLE_NAME of TABLE_NAME_list" class="row">
		TEMPLATE_LIST_TABLE_VALUES
		</div>
	</div>
	<app-pagination [path]="'/list-TABLE_NAME'" [pages]="pages" [totalPages]="totalPages" [currentPage]="currentPage"></app-pagination>
</div>
